---
layout: default
title: Insha Arshad
---

<header class="hero" id="about">
  <div class="hero-content">
    <p class="hero-desc">
      Hello, I'm
    </p>
    <h1>Hello, I'm <span>Insha Arshad</span></h1>
    <div class="hero-subtitle">
      <i class="fa-solid fa-bolt"></i> Data Scientist | Founder 
    </div>
    <p class="hero-desc">
      MS in Data Science graduate specializing in ML-driven forecasting, clean energy optimization, and scalable distributed systems.
    </p>
    <div class="hero-actions">
      <a href="#contact" class="btn btn-primary"><i class="fa-regular fa-envelope"></i> Request CV </a>
      <a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank" class="btn btn-secondary">
        <i class="fa-brands fa-linkedin"></i> LinkedIn
      </a>
    </div>
  </div>
  <div class="hero-profile">
    <div class="profile-card">
      <img src="{{ '/assets/itsme.jpg' | relative_url }}" alt="Insha Arshad">
      <!-- <div class="status-badge">
        <div class="status-dot"></div> Open to Work
      </div> -->
    </div>
  </div>
</header>

{% include experience.html %}
{% include projects.html %}
{% include skills.html %}
{% include education.html %}
